*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.wrapper{
    max-width: 1400px;
    border: 1px solid red;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


.input{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;

}